[submodule "MS-THESIS-LIT-REVIEW"]
	path = MS-THESIS-LIT-REVIEW
	url = https://github.com/ENM185/MS-THESIS-LIT-REVIEW.git
[submodule "MS-THESIS-PROPOSAL"]
	path = MS-THESIS-PAPER
	url = https://github.com/ENM185/MS-THESIS-PROPOSAL
